<article class="max-w-6xl mx-auto p-4" itemscope itemtype="http://schema.org/BlogPosting">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <h1 class="text-4xl font-bold mb-4 text-center" itemprop="headline">{{ article.title }}</h1>
      {% when 'article_author' %}
        {% if section.settings.enable_author %}
          <div
            itemscope
            itemtype="https://schema.org/Person"
          >
            <small
              class="text-gray-600 text-center block"
              itemprop="author"
            >
              {{- article.author -}}
            </small>
          </div>
        {% endif %}
      {% when 'article_date' %}
        {% if section.settings.enable_date %}
          <div class="text-gray-500 text-sm text-center">
            <time itemprop="datePublished" datetime="{{ article.date }}">{{ article.date }}</time>
          </div>
        {% endif %}
      {% when 'article_image' %}
        <div itemprop="image">
          <img
            class="w-full h-auto rounded-lg shadow-md mb-4"
            src="{{article.image | img_url: 'medium' }}"
            alt="{{article.title}}"
            loading="lazy"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
          >
        </div>

      {% when 'article_content' %}
        <div itemprop="articleBody" class="prose max-w-none p-4">
          {{ article.content }}
        </div>
      {% else %}

    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="my-8">
    {% if article.comments_count > 0 %}
      <div class="flex-1 items-center justify-center mx-auto max-w-4xl px-4">
        <h1 class="text-lg mb-4 font-medium">See what other people are saying</h1>
        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div class="flex-1 border my-4 px-4 py-2 sm:px-6 sm:py-4 leading-relaxed rounded-lg">
              <span class="comment-author">{{ comment.author }}</span>
              <span class="text-xs text-gray-400">{{ comment.created_at | date: format: 'default' }}</span>
              <p class="text-sm">{{ comment.content }}</p>
            </div>
          {% endfor %}

          {% if paginate.pages > 1 %}
            {{ paginate | default_pagination }}
          {% endif %}
        {% endpaginate %}
      </div>
    {% else %}
      There are no comments yet.
    {% endif %}
  </div>

  <div id="comment_form" class="mb-8">
    {% form 'new_comment', article %}
      <div class="flex-1 mx-auto items-center justify-center max-w-4xl px-4">
        {% if form.errors %}
          <div class="border px-5 py-3 rounded-lg">
            <div class="flex flex-row items-center justify-center w-full my-3">
              <div class="text-red-500">
                {% render 'icon-failed' %}
              </div>
              <div class="text-sm font-medium ml-3">
                Oh no! There was an error submitting your comment. Please try again.
              </div>
            </div>
            <ul class="px-4 mb-3 ml-7 list-decimal">
              {% for error in form.errors %}
                <li>
                  <span>
                    {{ form.errors.messages[error] }}
                  </span>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% elsif form.posted_successfully? %}
          <div class="border px-5 py-3 rounded-lg">
            <div class="flex flex-row items-center justify-center w-full my-3">
              <div class="text-green-500 text-center">
                {% render 'icon-success' %}
              </div>
              <div class="text-sm font-medium ml-3">Your comment has been submitted successfully.</div>
            </div>
          </div>
        {% endif %}
        <div class="md:flex mb-3 space-x-3">
          <div class="md:w-1/2">
            <label for="comment_author" class="text-gray-700 font-medium uppercase text-xs mb-2"> Name </label>
            <input
              type="text"
              name="comment[author]"
              id="comment_author"
              class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-lg"
              placeholder="Your name"
              required
            >
          </div>
          <div class="md:w-1/2">
            <label for="comment_email" class="text-gray-700 font-medium uppercase text-xs mb-2"> Email </label>
            <input
              type="email"
              name="comment[email]"
              id="comment_email"
              class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-lg"
              placeholder="Your email"
              required
            >
          </div>
        </div>
        <div class="md:flex mb-3">
          <div class="md:w-full">
            <label for="comment_body" class="text-gray-700 font-medium uppercase text-xs mb-2">Comment</label>
            <textarea
              name="comment[body]"
              id="comment_body"
              class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none rounded-lg resize-none"
              placeholder="Your comment"
              rows="8"
              required
            ></textarea>
          </div>
        </div>
        <div class="md:flex mb-3">
          <div class="md:w-full">
            <button
              type="submit"
              class="w-full cursor-pointer bg-black text-white py-3 px-4 rounded-lg hover:bg-gray-800 focus:outline-none"
              value="Post Comment"
            >
              Post Comment
            </button>
          </div>
        </div>
      </div>
    {% endform %}
  </div>
{% endif %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | strip_newlines | json }},
    {% if article.excerpt != blank %}
        "description": {{ article.excerpt | strip_html | strip_newlines | json }},
    {% endif %}
    {% if article.image  %}
        "image": [
            {{ article.image | img_url: 'medium' |  prepend: 'https:' | json }}
        ],
    {% endif %}
    "datePublished": {{ article.date | date: format: 'default'}},
    "dateCreated": {{ article.created_at | date: format: 'default'}},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }},
      "logo": {
        "@type": "ImageObject",
        "url": {{ shop.logo | img_url: 'medium' | prepend: 'https:' | json }}
      }
    }
  }
</script>

{% schema %}
{
  "name": "Template Article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "label": "Show author name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_date",
      "label": "Show date",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Article Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Article Author",
      "limit": 1
    },
    {
      "type": "article_date",
      "name": "Article Date",
      "limit": 1
    },
    {
      "type": "article_image",
      "name": "Article Image",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Article Content",
      "limit": 2
    }
  ]
}
{% endschema %}
