{% for block in section.blocks %}
  {% case block.type %}
    {% when 'article_title' %}
      <h1>{{ article.title }}</h1>
    {% when 'article_author' %}
      {% if section.settings.enable_author %}
        <small>{{ article.author }}</small>
      {% endif %}
    {% when 'article_date' %}
      {% if section.settings.enable_date %}
        <div>
          <time datetime="{{ article.date }}">{{ article.date }}</time>
        </div>
      {% endif %}
    {% when 'article_image' %}
      <img
        src="{{article.image | img_url: 'large' }}"
        alt="{{article.title}}"
        loading="lazy"
        width="{{ article.image.width }}"
        height="{{ article.image.height }}"
      >
    {% when 'article_content' %}
      {{ article.content }}
    {% else %}

  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Template Article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "label": "Show author name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_date",
      "label": "Show date",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Article Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Article Author",
      "limit": 1
    },
    {
      "type": "article_date",
      "name": "Article Date",
      "limit": 1
    },
    {
      "type": "article_image",
      "name": "Article Image",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Article Content",
      "limit": 2
    }
  ]
}
{% endschema %}
